/*CHECA ESTO PARA ANIMACIONES DEL MENU: https://codepen.io/EvyatarDa/pen/waKXMd  */

.App, body {
  background: #f8f3f0;
  padding-top: 8px;
  text-align: center;
  justify-content: center;
  color:#5a3b21;
  font-family: 'Poppins', sans-serif;
  font-size: 2vh;
}

header{
  font-size:2vh;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:7em;
}

/*NAVIGATION BAR: */
.top-nav-full {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5em;
  flex-direction: row;
}

.carousel-indicators li {
  border: 1px solid #eeaeca;
}

.carousel-indicators .active{
  background-color: #d4213c;
  border: 1px solid #d4213c;
  opacity: 0.6;
}

div.top-nav-full
{
  font-family: Raleway;
  margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

.top-nav-full a {
  color: #5a3b21;
  text-decoration: none;
  padding: 0em 0.8em 0em 0em;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.top-nav-full a:before
{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #f8f3f0;
    opacity: 0.3;
    transition: all 0.3s;
}

.top-nav-full a:hover:before
{
    width: 100%;
    background: #d4213c;
}

/*HOME*/

#carouselContainer{
  width: 50em;
  height: 15em;
}

/* CAROUSEL */

.carousel-text {
  font-size: 1.5em;
  font-family: 'Poppins', courier;
  text-align: center;
}

.isa-image-intro {
  height:  13em;
}

.ig-icon{
  height:4em;
}

#isaIntro {
  display:flex;
  justify-content: flex-end;
  margin: 2em;
}

/*------------------- ABOUT ------------------*/

.about-container{
  margin-top:5em;
}

.about-container p{
  font-size:1.4em;
}


/*------------------- PHONE SIZE ------------------*/
/* @media screen and (max-width: 600px) {
  .ham-nav {
    display: flex;
    justify-content: flex-start;
  }

  .top-nav-full{
    display:none;
    position: relative;
	  z-index: 10;
  }

  .top-nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    border-radius: 16px;
    transition:max-height 8s ease;
    z-index: 2;
    width: 40vw;
    position: fixed;
    border-radius: 16px;
    background-color: #ff97b48f;
  }
  #homeNav, #sketchNav, #comicNav, #contatcNav{
    animation: menu-text-in 1.5s ;
  }

  @keyframes menu-text-in {
    from {margin-left:-60px}
    to {margin-left: 8px;}
  }

 
  #hambnav{
    animation: menu-in 2s ;
  }

  @keyframes menu-in {
    from {width: 0px;}
    to {width: 40vw;}
  }

  .top-nav a{
    margin-left: 8px;
    margin-top:8px;
    min-height: 32px;
    color:white;
  }

  .ham-nav {
    display:flex;
    justify-content: flex-start;
    height: 24px;
    margin-left:8px;
    margin-bottom: 8px;
    
  }

  #isaIntro span {
    font-size:64px;
    font-weight: bold;
  }

  #isaIntroText {
    font-size: 16px;
  }

  #carouselContainer{
    width: 400px;
    height: 250px;
  }

} */



